# Shadow CLJS
.shadow-cljs

# Yarn and JavaScript
yarn-error.log
node_modules/

# Build
target/

# Emacs
.dir-locals.el
.nrepl-port

# Cache
.cpcache

# Local configurations and development
.env.edn
tmp/

# CLJ-kondo and LSP
.clj-kondo
.lsp
