{:paths ["src" "test"]

 :deps
 {org.clojure/tools.cli {:mvn/version "0.4.2"}
  org.clojure/core.async {:mvn/version "0.4.500"}
  cljs-node-io {:mvn/version "1.1.2"}
  phrase {:mvn/version "0.3-alpha4"}
  borkdude/edamame {:mvn/version "0.0.1"}
  fipp {:mvn/version "0.6.18"}

  ;; Requires xmlhttprequest from NPM
  cljs-ajax {:mvn/version "0.7.5"}}}
